@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;
@use "@/styles/_placeholders" as *;





%listing-image-container {
    @extend %image-container;

    img {
        object-fit: cover;
        transition: $transition-base;
    }

    .overlay {
        @extend %card-overlay;

        h1 {
            color: $color-white;
            font-size: $font-size-md;
            font-weight: $font-weight-regular;
        }

        .statusLabel { @extend %status-label; }
    }

    &:hover {
        img { transform: scale(1.05); }
        .overlay { opacity: 1; }
    }
}








.projectCard {
    @extend %card-link-base;

    .imageContainer { @extend %listing-image-container; }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;

        h1 { font-size: $font-size-lg; }
        p  { font-size: $font-size-base; }
    }
}







.newsCard {
    @extend %card-link-base;

    .imageContainer { @extend %listing-image-container; }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.5rem;

        h3 { text-align: center; }
    }
}
