@use "@/styles/_mixins" as *;


.languageSwitcher {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background: transparent;
        font: inherit;
        cursor: pointer;
        min-width: 30px;
        padding: 0 0.5rem;

        @include respond-down("sm") {
            font-size: 0.8rem;
        }

    }


    select:focus {
        outline: none;
    }
}



.navbar {
    position: fixed;
    z-index: 9999;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    background-color: white;
    min-height: 4rem;
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

    .container {

        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: black;

            h1 {

                font-weight: 200;
            }
        }

        .mobileMenuBtnWrapper {
            display: none;

            @include respond-down("lg") {
                display: flex; 
            }
        }

    }
}






.navLinks-desktop {
    flex-basis: 400px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    list-style-type: none;

    @include respond-down("lg") {
        display: none;
    }

    li a {
        text-decoration: none;
        color: black;

        &:hover {
            opacity: 0.7;
        }
    }
}

.navLinks-mobile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style-type: none;
    padding: 2rem 0;

    li a {
        text-decoration: none;
        color: black;
        font-size: 1rem;
        font-weight: 500;
    }
}






.mobileMenu{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 2rem;
    
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}