@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;




.languageSwitcher {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background: transparent;
        font: inherit;
        cursor: pointer;
        min-width: 30px;
        padding: 0 0.5rem;

        @include respond-down("sm") { font-size: 0.8rem; }
        &:focus { outline: none; }
    }
}






.navbar {
    position: fixed;
    z-index: $z-nav;
    top: 2rem;
    left: 2rem;
    right: 2rem;
    background-color: $color-white;
    min-height: 4rem;
    display: flex;
    justify-content: center;
    padding-inline: 1rem;
    border-radius: $radius-md;
    box-shadow: $shadow-navbar;

    .container {
        width: 100%;
        @include flex-between;

        a {
            text-decoration: none;
            color: $color-black;
            h1 { font-weight: $font-weight-light; }
        }

        .mobileMenuBtnWrapper {
            display: none;
            @include respond-down("lg") { display: flex; }
        }
    }
}




.navLinks-desktop {
    flex-basis: 400px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    list-style-type: none;

    @include respond-down("lg") { display: none; }

    li a {
        text-decoration: none;
        color: $color-black;
        &:hover { opacity: 0.7; }
    }
}





.navLinks-mobile {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style-type: none;
    padding: 2rem 0;

    li a {
        text-decoration: none;
        color: $color-black;
        font-size: $font-size-md;
        font-weight: $font-weight-medium;
    }
}




.mobileMenu {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem;

    .header { @include flex-between; }
}
