@use "@/styles/_mixins" as *;

.input{
    min-width: 15rem; 
    border-radius: 0.5rem;
    border: 1px solid #D9D9D9;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    transition: all 0.3s ease; 

    &:focus{
        border: 1px solid #696969;
        outline: 1px solid #696969;
       
    }

    @include respond-down("lg") {
        font-size: 12px;
        min-width: 3rem;
        width: 100%;
    }

}


.textarea{
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #D9D9D9;
    padding-inline: 1rem;
    padding-block: 1rem;
    resize: none;
    font-family: inherit; 
    font-size: 0.7rem;
    transition: all 0.3s ease; 

    &:focus{
        border: 1px solid #696969;
        outline: 1px solid #696969;
       
    }
    

    @include respond-down("lg") {
        font-size: 12px;
    }

    @include respond-down("sm") {
        min-width: 3rem;
        width: 100%;
    }
}


