@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;

.input {
    @include form-field-base;
    min-width: $input-min-width;

    @include respond-down("lg") {
        font-size: 12px;
        min-width: 3rem;
        width: 100%;
    }
}

.textarea {
    @include form-field-base;
    width: 100%;
    resize: none;
    font-size: $font-size-xs;


    &:focus { outline: 1px solid $color-gray-dark; }

    @include respond-down("lg") { font-size: 12px; }

    @include respond-down("sm") {
        min-width: 3rem;
        width: 100%;
    }
}
