@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

.primary {
    @include btn-base;
    background-color: $color-black;
    color: $color-white;
    border: 1px solid $color-black;

    &:hover {
        background-color: $color-gray-light;
        color: $color-black;
        border-color: $color-gray-light;
    }
}

.outline {
    @include btn-base;
    background-color: transparent;
    color: $color-black;
    border: 1px solid $color-gray-light;

    &:hover {
        background-color: $color-black;
        color: $color-white;
        border-color: $color-black;
    }
}

.ghost {
    background-color: transparent;
    font-family: inherit;
    color: $color-black;
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: $button-padding-block;
}

.link {
    width: fit-content;
    background: transparent;
    font-family: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    color: $color-white;
    font-weight: $font-weight-light;
}

@include respond-down("sm") {
    .primary, .outline {
        white-space: nowrap;
        padding-inline: 0.7rem;
        font-size: 12px;
    }
}
