@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;
@use "@/styles/_placeholders" as *;


.notFound {
    @extend %fullpage-center;

    .container {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;

        h1 { font-size: 14rem; }
        p  { font-size: $font-size-2xl; margin-bottom: 2rem; }

        @include respond-down("md") {
            h1 { font-size: 8rem; }
            p  { font-size: $font-size-md; }
        }
    }
}