@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;


.subscribe {
    background-color: $color-ghost-white;
    height: 20rem;
    padding-inline: 2rem;
    color: $color-black;
    margin: 2rem;
    border-radius: $radius-md;

    .container {
        @include flex-column-center(3rem);
        justify-content: center;
        padding: 1rem;
        height: 100%;

        h1 { font-weight: $font-weight-bold; }
        p  {
            font-weight: $font-weight-light;
            @include respond-down("lg") { font-size: 12px; }
        }

        form { display: flex; column-gap: 1rem; }
    }
}