@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;
@use "@/styles/_placeholders" as *;

.container {
    @include section-spacing;

    .description { @extend %description-block; }

    .grid { @include responsive-grid-4; }
}

.card {
    flex: 1;
    border-radius: $radius-sm;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;

    span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 4rem;
        border-radius: $radius-full;
        background-color: rgb(255, 254, 254);
    }

    h1 { font-size: $font-size-md; text-align: center; }
    p  { font-size: $font-size-sm; font-weight: $font-weight-light; text-align: center; }
}

.home     { background-color: $color-ghost-white; }
.projects { background-color: transparent; border: 1px solid gray; }
