@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;
@use "@/styles/_placeholders" as *;


.errorPage {
    @extend %fullpage-center;

    .container {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;

        h1 { font-size: 5rem; }
        p  { font-size: 1.6rem; margin-bottom: 2rem; }

        @include respond-down("lg") {
            h1 { font-size: 4rem; }
            p  { font-size: 1.3rem; }
        }

        @include respond-down("sm") {
            h1 { font-size: $font-size-2xl; }
            p  { font-size: $font-size-sm; }
        }
    }
}