@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;
@use "@/styles/_placeholders" as *;





.container {
    @include section-spacing;
    border: 1px solid $color-border-light;
    border-radius: $radius-md;
    padding: 4rem;

    .description {
        @extend %description-block;

        @include respond-down("md") {
            h1 { font-size: 1.3rem; }
            p  { font-size: $font-size-xs; }
        }
    }

    @include respond-down("lg") { padding: 2rem; }
}









.contactForm {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;

    .credentials {
        @include responsive-grid-2;
        padding-inline: 3rem;
        padding-bottom: 2rem;

        @include respond-down("lg") {
            padding-inline: 0;
            display: flex;
            flex-wrap: wrap;
        }
    }

    .interests {
        display: flex;
        flex-direction: column;
        row-gap: 3rem;

        h4 {
            text-align: center;
            @include respond-down("lg") { font-size: $font-size-xs; }
        }

        .projects {
            @include responsive-grid-4;
            justify-items: center;
            padding-inline: 2rem;

            @include respond-down("lg") {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                padding-inline: 0;
            }
        }
    }

    .message       { width: 100%; }
    .agreement     { align-self: center; }
    .submitBtnWrapper {
        padding-top: 2rem;
        align-self: center;
    }
}
