@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;

.selectWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.label {
    font-size: 14px;
    font-weight: $font-weight-medium;
}

.select {
    @include form-field-base;
    background-color: $color-white;
    font-size: $font-size-xs;
    cursor: pointer;
    color: $color-black;


    &:focus { outline: none; border-color: $color-black; }
    &::-ms-expand { display: block; }
}
